{% extends 'base.html' %}

{% block content %}
<div class="container">
  <a href="{% url 'academics:create_class' %}" class="button is-rounded eafit"><i class="fas fa-book"></i>&nbsp Create Class</a>
  <a href="{% url 'academics:class_list' %}" class="button is-rounded eafit"><i class="fas fa-search"></i>&nbsp Search Classes</a>
  <a href="{% url 'accounts:teacher_list' %}" class="button is-rounded eafit"><i
      class="fas fa-chalkboard-teacher"></i>&nbsp My Teachers</a>


</div>
<br>
{% endblock %}