{% extends 'base.html' %}

{% load bulma_tags %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-quarter">
                <form action="." method="POST">
                    {{ venues_form | bulma }}
                    <a class="button is-link">Set Venues</a>
                </form>
            </div>
            <!-- Column Form :3 -->
            {% for field in schedule_form %}
                <div class="column">
                    <strong>{{ field.label_tag }}</strong> {{ field }}
                </div>
            {% endfor %}
        </div>
        <a class="button is-link is-right">Set Schedule</a>        
    </div>
</section>

{% endblock %}

<div class="row">
    <div class="column"></div>
    <div class="column"></div>
</div>