{% extends 'admin/base.html' %}

<!-- For images in the static folder -->
{% load static %}

{% block title %} Idiomas EAFIT | Viper Admin {% endblock %}

{% block extrahead %}
<link rel="icon" href="{% static 'img/eafit_icon.png' %}">
{% endblock %}

<!-- Changing the 'Django Administration' title -->
{% block branding %}
<h1 id="head">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'img/logo_idiomas_eafit.png' %}" alt="Idiomas EAFIT" height="45" width="200"
            class="brand_img">
    </a>
</h1>
{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}