{% extends 'base.html' %}

{% load bulma_tags %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="notification">
            <form method="POST" id="classForm" novalidate
                data-courses-url="{% url 'academics:ajax_load_courses' %}"
                data-teachers-url="{% url 'academics:ajax_load_teachers' %}"
                data-schedules-url="{% url 'academics:ajax_load_schedules' %}">
                {% csrf_token %}
                {{ form | bulma }}
                <div class="field">
                    <button type="submit" class="button is-link">Create</button>
                    <a href="{% url 'accounts:coordinator' %}" class="button">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- Get subprogram related courses -->
<script>
    $("#id_subprogram").change(function () {
        var url = $("#classForm").attr("data-courses-url");  // get the url of the `load_courses` view
        var subprogramId = $(this).val();  // get the selected subprogram ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-courses/)
            data: {
                'subprogram': subprogramId       // add the subprogram id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_courses` view function
                $("#id_course").html(data);  // replace the contents of the course input with the data that came from the server
            }
        });

    });
</script>

<!-- Get course related teachers -->
<script>
    $("#id_course").change(function () {
        var url = $("#classForm").attr("data-teachers-url");
        var courseId = $(this).val();

        $.ajax({
            url: url,
            data: {
                'course': courseId
            },
            success: function (data) {
                $("#id_teacher").html(data);
            }
        });
    });
</script>

<!-- Get intensity related schedules -->
<script>
    $("#id_intensity").change(function () {
        var url = $("#classForm").attr("data-schedules-url");
        var intensityId = $(this).val();

        $.ajax({
            url: url,
            data: {
                'intensity': intensityId
            },
            success: function (data) {
                $("#id_schedule").html(data);
            }
        });
    });
</script>

{% endblock %}