section.eafit {
    background-color:  rgb(8, 76, 131);
}

h1.eafit {
    color: white;
}

button.eafit {
    background-color: rgb(8, 76, 131);
    color: white;
}

a.button.eafit {
    background-color: rgb(8, 76, 131);
    color: white;
}

footer.eafit {
    background-color: rgb(26, 166, 215)
}

footer p {
    color: black;
}

