{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Site Icon -->
    <link rel="icon" href="{% static 'img/eafit_icon.png' %}">
    <!-- Load the Bulma css stuff -->
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <!-- Load FontAwesome(icos) css-->
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <!-- Own Style Sheet -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- JavaScript jQuery -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <!-- FontAwesome js -->
    <script defer src="{% static 'js/all.js' %}"></script>


    <title>Idiomas EAFIT | Viper</title>
</head>

<body>
    <!-- Top Bar -->
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <a href="{% url 'accounts:login' %}">
                    <img src="{% static 'img/logo_idiomas_eafit.png' %}" alt="Idiomas EAFIT" height="45" width="200"
                        class="brand_img">
                </a>
            </div>
        </div>
    </section>

    <section class="hero eafit">
        <div class="hero-body">
            <div class="container">
                <h1 class="title eafit">Viper EAFIT</h1>
            </div>
        </div>
    </section>

    <!-- Nav Bar -->
    {% if user.is_authenticated %}
    <section class="section">
        <div class="container">
            <!-- Main level container -->
            <nav class="level">
                <!-- Left Side -->
                <div class="level-left">
                    <div class="level-item">
                        <h1 class="subtitle"><strong>{% block nav-sub %} {% endblock %}</strong></h1>
                    </div>
                </div>
                <!-- Right Side -->
                <div class="level-right">
                    <p class="level-item">
                        <strong>
                            Welcome {{ user.first_name }} {{ user.last_name }}
                        </strong>
                    </p>
                    <a class="button is-rounded eafit" href="{% url 'accounts:login' %}">
                        <i class="fas fa-home"></i>&nbsp Home</a>
                    &nbsp
                    <a class="button is-rounded eafit" href="{% url 'accounts:logout' %}">
                        <i class="fas fa-sign-out-alt"></i>&nbsp Logout</a>
                </div>
            </nav>
        </div>
    </section>
    {% endif %}


    {% block content %}

    {% endblock %}

    <!-- Footer -->
    <br>
    <br>
    <footer class="footer eafit">
        <div class="columns has-text-centered">
            <div class="column">
                <ul>
                    <li>
                        <h2 class="subtitle">Accesos Rápidos</h2>
                        <hr>
                    </li>
                    <li><a href="http://www.eafit.edu.co/programas-academicos/">Programas Académicos</a></li>
                    <hr>
                    <li><a href="http://www.eafit.edu.co/cice">Consultoría y Empresarismo</a></li>
                    <hr>
                    <li><a href="http://www.eafit.edu.co/cec">Educación Continua</a></li>
                    <hr>
                    <li><a href="http://www.eafit.edu.co/idiomas">Idiomas</a></li>
                    <hr>
                    <li><a href="http://www.eafit.edu.co/cultura">Cultura</a></li>
                    <hr>
                    <li><a href="http://www.eafit.edu.co/biblioteca">Biblioteca</a></li>
                    <hr>
                    <li><a href="http://www.eafit.edu.co/proyecto50/">Laboratorio de Aprendizaje</a></li>
                    <hr>
                    <li><a href="http://www.eafit.edu.co/virtual">EAFIT Virtual</a></li>
                    <hr>
                    <li><a href="http://www.eafit.edu.co/english">English Version</a></li>
                    <hr>
                </ul>
            </div>
            <div class="column">
                <ul>
                    <li>
                        <h2 class="subtitle">Escuelas</h2>
                        <hr>
                    </li>
                    <li><a href="http://www.eafit.edu.co/escuelas/administracion">Administración</a></li>
                    <hr>
                    <li><a href="http://www.eafit.edu.co/escuelas/ingenieria">Ingeniería</a></li>
                    <hr>
                    <li><a href="http://www.eafit.edu.co/escuelas/humanidades">Humanidades</a></li>
                    <hr>
                    <li><a href="http://www.eafit.edu.co/escuelas/derecho">Derecho</a></li>
                    <hr>
                    <li><a href="http://www.eafit.edu.co/escuelas/economiayfinanzas">Economía y Finanzas</a></li>
                    <hr>
                    <li><a href="http://www.eafit.edu.co/escuelas/ciencias">Ciencias</a></li>
                    <hr>
                </ul>
            </div>
            <div class="column">
                <ul>
                    <li>
                        <h2 class="subtitle">¿Qué Estudiar?</h2>
                        <hr>
                    </li>
                    <li><a href="http://www.eafit.edu.co/pregrados">Pregrados</a></li>
                    <hr>
                    <li><a href="http://www.eafit.edu.co/posgrados">Posgrados</a></li>
                    <hr>
                    <li><a href="http://www.eafit.edu.co/cec">Cursos y Diplomados</a></li>
                    <hr>
                    <li><a href="http://www.eafit.edu.co/idiomas">Idiomas</a></li>
                    <hr>
                    <li><a href="http://www.eafit.edu.co/virtual">Programas Virtuales</a></li>
                    <hr>
                    <li><a href="http://www.eafit.edu.co/escueladeverano">Cursos de Verano</a></li>
                    <hr>
                </ul>
            </div>
            <div class="column">
                <ul>
                    <li>
                        <h2 class="subtitle">Servicios</h2>
                        <hr>
                    </li>
                    <li><a href="http://www.eafit.edu.co/estudiantes">Para Estudiantes</a></li>
                    <hr>
                    <li><a href="http://www.eafit.edu.co/egresados">Para Egresados</a></li>
                    <hr>
                    <li><a href="http://www.eafit.edu.co/empresas">Para Empresas</a></li>
                    <hr>
                    <li><a href="http://entrenos.eafit.edu.co/">Para Docentes/Empleados</a></li>
                    <hr>
                    <li><a href="http://www.eafit.edu.co/servicios-en-linea">Aplicaciones Web</a></li>
                    <hr>
                    <li><a href="http://www.eafit.edu.co/servicios">Servicios Institucionales</a></li>
                    <hr>
                </ul>
            </div>
        </div>
    </footer>
    <footer class="footer eafit-info">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="title is-5"><i class="fa fa-phone"></i><strong> 01 8000 515 900 </strong></div>
                </div>
                <address class="has-text-centered">
                    Universidad EAFIT, Cra 49 N° 7 Sur-50, Medellín - Colombia ? Medellín: (57)(4)4489500 ? Conmutador:
                    (57)(4)2619500<br>
                    <a target="_blank" class="Footer-link" href="http://www.eafit.edu.co/campus-eafit">Campus
                        Medellín</a> |
                    <a target="_blank" class="Footer-link" href="http://www.eafit.edu.co/bogota">EAFIT Bogotá</a> |
                    <a target="_blank" class="Footer-link" href="http://www.eafit.edu.co/pereira">EAFIT Pereira</a> |
                    <a target="_blank" class="Footer-link" href="http://www.eafit.edu.co/llanogrande">EAFIT
                        Llanogrande</a>
                    <br>
                    Copyright 2018 ® | <a target="_blank" class="Footer-link"
                        href="http://www.eafit.edu.co/datospersonales">Política de protección de datos personales</a> |
                    <a class="Footer-link" href="mailto:ei@eafit.edu.co">Contáctenos</a>
                    <br><br>
                    <h3 class="title is-6">Vigilada Mineducación</h3>
                </address>
            </div>
        </div>
    </footer>



</body>

</html>