{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="subtitle">My Classes</h1>
    <table class="table is-fullwidth is-hoverable">
        <thead>
            <tr>
                <th>#</th>
                <th>SubProgram</th>
                <th>Course</th>
                <th>Intensity</th>
                <th>Venue</th>
                <th>Schedule</th>                            
            </tr>
        </thead>
        <tbody>                
            {% for class in class_list %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <td>{{ class.course.subprogram.name }}</td>
                    <td>{{ class.course }}</td>
                    <td>{{ class.intensity }}</td>
                    <td>{{ class.venue }}</td>
                    <td>{{ class.schedule }}</td>
                </tr>
            {% endfor %}
    </table>
</div>
{% endblock %}