{% extends 'base.html' %}

{% block nav-sub %}Classes{% endblock %}

{% block content %}
<div class="container">
    <form action="">
        <input class="input is-rounded" type="search" placeholder="Search" name="q" value="{{ request.GET.q }}">
    </form>
    <br>
    <table class="table is-fullwidth is-hoverable">
        <thead>
            <tr>
                <th>#</th>
                <th>SubProgram</th>
                <th>Course</th>
                <th>Intensity</th>
                <th>Venue</th>
                <th>Schedule</th>                            
            </tr>
        </thead>
        <tbody>                
            {% for class in class_list %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <td>{{ class.course.subprogram.name }}</td>
                    <td>{{ class.course }}</td>
                    <td>{{ class.intensity }}</td>
                    <td>{{ class.venue }}</td>
                    <td>{{ class.schedule }}</td>
                </tr>
            {% endfor %}
    </table>
</div>
{% endblock %}