{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="subtitle">My Teachers</h1>

    <table class="table is-fullwidth is-hoverable">
        <thead>
            <tr>
                <!-- <th><abbr title="Position">Pos</abbr></th> -->
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Estatus</th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teacher_list %}
            <tr>
                {{ loop.index }}
                <th>{{ loop.index }}</th>
                <td>{{ teacher.user.first_name }}</td>
                <td>{{ teacher.user.last_name }}</td>
                <td>{{ teacher.user.email }}</td>
                <td>{{ teacher.status }}</td>
            </tr>
            {% endfor %}
    </table>
</div>
{% endblock %}