{% extends 'base.html' %}

{% load bulma_tags %}

{% block content %}


<div class="container">
    <h1 class="subtitle">My Venues</h1>
    <div class="box">
        <form action="" method="POST">
            {% csrf_token %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thrusday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                    </tr>
                </thead>
                <tbody>
                                        
                    <tr>
                        <th></th>
                        <td>{{ form.monday }}</td>
                        <td>{{ form.tuesday }}</td>
                        <td>{{ form.wednesday }}</td>
                        <td>{{ form.thursday }}</td>
                        <td>{{ form.friday }}</td>
                        <td>{{ form.saturday }}</td>
                    </tr>
                    
                </tbody>
            </table>
            <div class="has-text-centered">
                <button type="submit" class="button eafit is-rounded">Update</button>
                <a href="{% url 'accounts:teacher' %}" class="button is-rounded">Cancel</a>
            </div>
        </form>
    </div>
</div>
<br><br>
{% endblock %}