{% extends 'base.html' %}

{% block content %}
<div class="container box">
    <form action="" method="POST">
        {% csrf_token %}

            <!-- First Name -->
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">First Name</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input is-rounded" type="text" value="{{ object.user.first_name }}" disabled>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Last Name -->
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Last Name</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input is-rounded" type="text" value="{{ object.user.last_name }}" disabled>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Email -->
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Email</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input is-rounded" type="email" name="email" value="{{ object.user.email }}">
                        </p>
                    </div>
                </div>
            </div>

            <!-- Status -->
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Status</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input is-rounded" type="text" value="{{ object.status }}" disabled>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Available Hours -->
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Available Hours</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input is-rounded" type="number" name="ah" min="0" max="40"
                                value="{{ object.available_hours }}">
                        </p>
                    </div>
                </div>
            </div>

            <!-- Sufficiency and Simevi -->
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Sufficiency</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            {% if object.sufficiency %}
                            <span class="tag is-success is-rounded has-text-black is-medium">Keep Up The Good
                                Work!</span>
                            {% else %}
                            <span class="tag is-danger is-rounded has-text-black is-medium">You Haven't Passed The
                                Sufficieceny Control!</span>
                            {% endif %}
                        </p>
                    </div>
                    <div class="field-label is-normal">
                        <label class="label">SIMEVI</label>
                    </div>
                    <div class="field">
                        <p class="control">
                            {% if object.simevi %}
                            <span class="tag is-success is-rounded has-text-black is-medium">Keep Up The Good
                                Work!</span>
                            {% else %}
                            <span class="tag is-danger is-rounded has-text-black is-medium">You Haven't Passed The
                                SIMEVI Control!</span>
                            {% endif %}
                        </p>
                    </div>
                    <div class="field-label is-normal">
                        <label class="label">PDP</label>
                    </div>
                    <div class="field">
                        <p class="control">
                            {% if object.pdp %}
                            <span class="tag is-success is-rounded has-text-black is-medium">Keep It Up!</span>
                            {% else %}
                            <span class="tag is-danger is-rounded has-text-black is-medium">Work To Improve Your
                                PDP!</span>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            
            <!-- Evaluations -->
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Coordinator Evaluation</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <p class="control">
                            <input class="input is-rounded has-text-black
                                {% with object.coor_eval as value %}
                                {% if value >= 4.0 %}
                                    has-background-success
                                {% elif value >= 3.0 %}
                                    has-background-warning
                                {% else %}
                                    has-background-danger
                                {% endif %}
                                {% endwith %}" type="text" value="{{ object.coor_eval }}" disabled>
                        </p>
                    </div>
                    <div class="field-label is-normal">
                        <label class="label">Student Evaluation</label>
                    </div>
                    <div class="field is-narrow">
                        <p class="control">
                            <input class="input is-rounded 
                                has-text-black
                                {% with object.student_eval as value %}
                                {% if value >= 4.0 %}
                                    has-background-success
                                {% elif value >= 3.0 %}
                                    has-background-warning
                                {% else %}
                                    has-background-danger
                                {% endif %}
                                {% endwith %}" type="text" value="{{ object.student_eval }}" disabled>
                        </p>
                    </div>
                    <div class="field-label is-normal">
                        <label class="label">Self-Evaluation</label>
                    </div>
                    <div class="field is-narrow">
                        <p class="control">
                            <input class="input is-rounded 
                                has-text-black
                                {% with object.self_eval as value %}
                                {% if value >= 4.0 %}
                                    has-background-success
                                {% elif value >= 3.0 %}
                                    has-background-warning
                                {% else %}
                                    has-background-danger
                                {% endif %}
                                {% endwith %}" type="text" value="{{ object.self_eval }}" disabled>
                        </p>
                    </div>
                    <!-- <div class="field-label is-normal">
                        <label class="label">Observations</label>
                    </div>
                    <div class="field is-narrow">
                        <p class="control">
                            <input class="input is-rounded
                                has-text-black
                                {% with object.observations as value %}
                                {% if value >= 4.0 %}
                                    has-background-success
                                {% elif value >= 3.0 %}
                                    has-background-warning
                                {% else %}
                                    has-background-danger
                                {% endif %}
                                {% endwith %}" type="text" value="{{ object.observations }}" disabled>
                        </p>
                    </div> -->
                </div>
            </div>

            <!-- Coordinator Evaluation -->
            <!-- <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Coordinator Evaluation</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <p class="control">
                            <input class="input is-rounded has-text-black
                            {% with object.coor_eval as value %}
                            {% if value >= 4.0 %}
                                has-background-success
                            {% elif value >= 3.0 %}
                                has-background-warning
                            {% else %}
                                has-background-danger
                            {% endif %}
                            {% endwith %}" type="text" value="{{ object.coor_eval }}" disabled>
                        </p>
                    </div>
                </div>
            </div> -->
            <!-- Stududent Evaluation -->
            <!-- <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Student Evaluation</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <p class="control">
                            <input class="input is-rounded 
                            has-text-black
                            {% with object.student_eval as value %}
                            {% if value >= 4.0 %}
                                has-background-success
                            {% elif value >= 3.0 %}
                                has-background-warning
                            {% else %}
                                has-background-danger
                            {% endif %}
                            {% endwith %}" type="text" value="{{ object.student_eval }}" disabled>
                        </p>
                    </div>
                </div>
            </div> -->
            <!-- Self-Evaluation -->
            <!-- <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Self-Evaluation</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <p class="control">
                            <input class="input is-rounded 
                            has-text-black
                            {% with object.self_eval as value %}
                            {% if value >= 4.0 %}
                                has-background-success
                            {% elif value >= 3.0 %}
                                has-background-warning
                            {% else %}
                                has-background-danger
                            {% endif %}

                            {% endwith %}
                            " type="text" value="{{ object.self_eval }}" disabled>
                        </p>
                    </div>
                </div>
            </div> -->
            <!-- Observations -->
            <!-- <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Observations</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <p class="control">
                            <input class="input is-rounded
                            has-text-black
                            {% with object.observations as value %}
                            {% if value >= 4.0 %}
                                has-background-success
                            {% elif value >= 3.0 %}
                                has-background-warning
                            {% else %}
                                has-background-danger
                            {% endif %}
                            {% endwith %}" type="text" value="{{ object.observations }}" disabled>
                        </p>
                    </div>
                </div>
            </div> -->
            <br>
            <div class="has-text-centered">
                <button type="submit" class="button eafit is-rounded">Update</button>
                <a href="{% url 'accounts:teacher' %}" class="button is-rounded">Cancel</a>
            </div>
    </form>
</div>
</div>
{% endblock %}